[submodule "third_party/nfc-felica-lib"]
	path = third_party/nfc-felica-lib
	url = https://github.com/metrodroid/nfc-felica-lib.git
[submodule "third_party/gtfs_lacmta_rail"]
	path = third_party/gtfs_lacmta_rail
	url = https://gitlab.com/LACMTA/gtfs_rail.git
