{% extends "base.html" %}
{% block content %}
<h1>{{ agency_name }} unknown stop report</h1>

<p>I want to contribute information about an unknown...</p>

<table class="table">
 <tbody>
  <tr>
{% for type, info in vehicle_types %}
   <td><a href="{{ type }}"><img src="/static/{{ info.icon }}" alt="{{ type }}" /></a></td>
{% endfor %}
  </tr>
  <tr>
{% for type, info in vehicle_types %}
   <td><a href="{{ type }}">{{ type }} stop ID</a></td>
{% endfor %}
  </tr>
 </tbody>
</table>

{% endblock %}

