<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<title>Metrodroid Stops Data Collection</title>
</head>
<body>

<div class="container">
    <h1>Metrodroid Stops Data Collection</h1>
    <p>This site is no longer used. Please report issues with stop IDs
        <a href="https://github.com/micolous/metrodroid/issues">via GitHub</a>.</p>

    <p><a class="btn btn-info btn-lg" href="https://micolous.github.io/metrodroid/"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Metrodroid website</a></p>

<footer role="content">
 <div class="container">
  <p><em>Metrodroid</em> and its authors are not associated with any public transit agency.</p>
 </div>
</footer>

</div>
</body>
</html>
