<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<title>Metrodroid Stops Data Collection</title>
</head>
<body>

<div class="container">

<div class="jumbotron">
  <div class="container">
    <h1>Metrodroid Stops Data Collection</h1>
    <p>This website crowd-sources information from <em>users like you</em> about what unknown stop IDs exist on your public transit smartcard. This information enhances Metrodroid, an open source Android app for reading public transit smartcards around the world.</p>
    
    <p>I'm currently collecting information from <em>Translink Go cards</em>, used in Brisbane and South Eastern Queensland, Australia.</p>
    
    <p><a class="btn btn-primary btn-lg" href="/app/" role="button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login with your Google Account</a> <a class="btn btn-info btn-lg" href="https://micolous.github.io/metrodroid/"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Metrodroid website</a></p>
  </div>
</div>

<footer role="content">
 <div class="container">
  <p><em>Metrodroid</em> and its authors are not associated with any public transit agency.</p>
 </div>
</footer>

</div>
</body>
</html>
