<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <provider
            android:name="au.id.micolous.farebot.provider.CardProvider"
            android:authorities="au.id.micolous.farebot.dev.cardprovider"
            android:exported="false"
            tools:replace="android:authorities"/>
        <provider
            android:name="au.id.micolous.farebot.provider.CardKeyProvider"
            android:authorities="au.id.micolous.farebot.dev.keyprovider"
            android:exported="false"
            tools:replace="android:authorities"/>
    </application>
</manifest>